<img src="" align='left'>

# 13-9. 프로젝트 - Movielens 영화 추천 실습


이전 스텝에서 배운 MF 모델 학습 방법을 토대로, 내가 좋아할 만한 영화 추천 시스템을 제작해 보겠습니다.

이번에 활용할 데이터셋은 추천 시스템의 MNIST라고 부를만한 Movielens 데이터입니다.

- 유저가 영화에 대해 평점을 매긴 데이터가 데이터 크기 별로 있습니다. MovieLens 1M Dataset 사용을 권장합니다.
- 별점 데이터는 대표적인 explicit 데이터입니다. 하지만 implicit 데이터로 간주하고 테스트해 볼 수 있습니다.
- 별점을 시청횟수로 해석해서 생각하겠습니다.
- 또한 유저가 3점 미만으로 준 데이터는 선호하지 않는다고 가정하고 제외하겠습니다.


Cloud Storage에 미리 업로드된 ml-1m폴더 내 파일을 심볼릭 링크로 개인 storage에 연결해 줍니다.

Cloud shell에서 아래 명령어를 입력해 주세요.


```bash
$ mkdir -p ~/aiffel/recommendata_iu/data/ml-1m
$ ln -s ~/data/ml-1m/* ~/aiffel/recommendata_iu/data/ml-1m
```


프로젝트에 필요한 주요 라이브러리 버전을 확인해봅시다.

In [1]:
import numpy as np
import scipy
import implicit

print(np.__version__)
print(scipy.__version__)
print(implicit.__version__)

1.19.5
1.7.1
0.4.8

In [2]:
import pandas as pd

### 1) 데이터 준비와 전처리
----
Movielens 데이터는 rating.dat 안에 이미 인덱싱까지 완료된 사용자-영화-평점 데이터가 깔끔하게 정리되어 있습니다.


```python
import os
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()
```

In [3]:
import os
rating_file_path = './data/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [4]:
rating_file_path = './data/ratings.dat'
ratings_data = pd.read_csv(rating_file_path, sep='::', engine='python', encoding = "ISO-8859-1")
ratings_data.head()

   1  1193  5  978300760
0  1   661  3  978302109
1  1   914  3  978301968
2  1  3408  4  978300275
3  1  2355  5  978824291
4  1  1197  3  978302268

In [5]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['ratings']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [6]:
# ratings 컬럼의 이름을 counts로 바꿉니다.
ratings.rename(columns={'ratings':'counts'}, inplace=True)

In [7]:
ratings['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

#### 필요없는 데이터인 timestamp  columns를 삭제한다.

In [8]:
ratings.drop(['timestamp'], axis=1, inplace=True)

ratings.head()

   user_id  movie_id  counts
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5

In [9]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 836478 entries, 0 to 1000208
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   836478 non-null  int64
 1   movie_id  836478 non-null  int64
 2   counts    836478 non-null  int64
dtypes: int64(3)
memory usage: 25.5 MB

In [10]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path='./data/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

- title과 genre를 소문자로 바꿔준다.

In [11]:
movies['title'] = movies['title'].str.lower()
movies['genre'] = movies['genre'].str.lower()
movies.head(10)

   movie_id                               title                         genre
0         1                    toy story (1995)   animation|children's|comedy
1         2                      jumanji (1995)  adventure|children's|fantasy
2         3             grumpier old men (1995)                comedy|romance
3         4            waiting to exhale (1995)                  comedy|drama
4         5  father of the bride part ii (1995)                        comedy
5         6                         heat (1995)         action|crime|thriller
6         7                      sabrina (1995)                comedy|romance
7         8                 tom and huck (1995)          adventure|children's
8         9                 sudden death (1995)                        action
9        10                    goldeneye (1995)     action|adventure|thriller

In [12]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  3883 non-null   int64
 1   title     3883 non-null   object
 2   genre     3883 non-null   object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB

In [13]:
movies.loc[movies['movie_id'] == 733]

     movie_id             title                      genre
724       733  rock, the (1996)  action|adventure|thriller

In [14]:
movies['title'].loc[movies['movie_id'] == 733]

724    rock, the (1996)
Name: title, dtype: object

여기까지가 전처리입니다. 이후에는 이전 스텝에 소개했던 것과 동일한 방식으로 MF model을 구성하여 내가 좋아할 만한 영화를 추천해 볼 수 있습니다.

### 2) 분석해 봅시다.
----
- ratings에 있는 유니크한 영화 개수
- ratings에 있는 유니크한 사용자 수
- 가장 인기 있는 영화 30개(인기순)

- 유저수와 rating에 있는 영화 개수

In [15]:
ratings['user_id'].nunique()

6039

In [16]:
ratings['movie_id'].nunique()

3628

- 가장 인기있는 영화 30개를 뽑기 위해 가장 먼저 두 DataFrame을 합친다.

In [17]:
ratings_title = pd.merge(ratings, movies, how = 'left', left_on = 'movie_id', right_on = 'movie_id')

ratings_title

,user_id,movie_id,counts,title,genre
0,1,1193,5,one flew over the cuckoo's nest (1975),drama
1,1,661,3,james and the giant peach (1996),animation|children's|musical
2,1,914,3,my fair lady (1964),musical|romance
3,1,3408,4,erin brockovich (2000),drama
4,1,2355,5,"bug's life, a (1998)",animation|children's|comedy
...,...,...,...,...,...
836473,6040,1090,3,platoon (1986),drama|war
836474,6040,1094,5,"crying game, the (1992)",drama|romance|war
836475,6040,562,5,welcome to the dollhouse (1995),comedy|drama
836476,6040,1096,4,sophie's choice (1982),drama
836477,6040,1097,4,e.t. the extra-terrestrial (1982),children's|drama|fantasy|sci-fi

### 가장인기있는 영화 30선
- 기준에 따라 영화 리스트가 다를 것이다. 
- 첫번째 기준은 전체 평균 평점기준
    - 유저마다 메긴 평점의 평균값이 높은 순으로 정렬한다. 
    - 이 경우 현재 데이터가 2점 이하는 제거 되었으므로 약간의 왜곡이 있을 수 있다.

In [18]:
favorite_movie = ratings_title.groupby('title')['counts'].mean()
favorite_movie.sort_values(ascending=False).head(30)

title
gate of heavenly peace, the (1995)                                     5.000000
follow the bitch (1998)                                                5.000000
identification of a woman (identificazione di una donna) (1982)        5.000000
schlafes bruder (brother of sleep) (1995)                              5.000000
criminal lovers (les amants criminels) (1999)                          5.000000
country life (1994)                                                    5.000000
foreign student (1994)                                                 5.000000
lured (1947)                                                           5.000000
baby, the (1973)                                                       5.000000
late bloomers (1996)                                                   5.000000
zachariah (1971)                                                       5.000000
bittersweet motel (2000)                                               5.000000
black sunday (la maschera del demonio) (1960)                          5.000000
song of freedom (1936)                                                 5.000000
message to love: the isle of wight festival (1996)                     5.000000
smashing time (1967)                                                   5.000000
ulysses (ulisse) (1954)                                                5.000000
paralyzing fear: the story of polio in america, a (1998)               5.000000
one little indian (1973)                                               5.000000
i am cuba (soy cuba/ya kuba) (1964)                                    4.800000
seven chances (1925)                                                   4.750000
lamerica (1994)                                                        4.750000
sunset strip (2000)                                                    4.666667
firelight (1997)                                                       4.666667
apple, the (sib) (1998)                                                4.666667
sanjuro (1962)                                                         4.647059
seven samurai (the magnificent seven) (shichinin no samurai) (1954)    4.629690
world of apu, the (apur sansar) (1959)                                 4.603774
godfather, the (1972)                                                  4.598523
shawshank redemption, the (1994)                                       4.596627
Name: counts, dtype: float64

- 두번째 기준은 유저들이 메긴 별정의 총합을 따진다. 
    - 이 경우 많은 사람이 보고 평가한 영화의 순서를 얻을 수 있지만
    - 모든 관람객에게 고르게 높은 점수를 받았는지는 알수 없다. 
    - '가장 인기있는 영화'를 많은 사람이 봤다면 이 리스트가 더 정답에 가까울 것으로 생각한다.

In [19]:
favorite_movie = ratings_title.groupby('title')['counts'].count()
favorite_movie.sort_values(ascending=False).head(30)

title
american beauty (1999)                                   3211
star wars: episode iv - a new hope (1977)                2910
star wars: episode v - the empire strikes back (1980)    2885
star wars: episode vi - return of the jedi (1983)        2716
saving private ryan (1998)                               2561
terminator 2: judgment day (1991)                        2509
silence of the lambs, the (1991)                         2498
raiders of the lost ark (1981)                           2473
back to the future (1985)                                2460
matrix, the (1999)                                       2434
jurassic park (1993)                                     2413
sixth sense, the (1999)                                  2385
fargo (1996)                                             2371
braveheart (1995)                                        2314
men in black (1997)                                      2297
schindler's list (1993)                                  2257
princess bride, the (1987)                               2252
shakespeare in love (1998)                               2213
l.a. confidential (1997)                                 2210
shawshank redemption, the (1994)                         2194
godfather, the (1972)                                    2167
groundhog day (1993)                                     2121
e.t. the extra-terrestrial (1982)                        2102
being john malkovich (1999)                              2066
ghostbusters (1984)                                      2051
pulp fiction (1994)                                      2030
forrest gump (1994)                                      2022
terminator, the (1984)                                   2019
toy story (1995)                                         2000
fugitive, the (1993)                                     1941
Name: counts, dtype: int64

### 3) 내가 선호하는 영화를 5가지 골라서 ratings에 추가해 줍시다.
----

In [20]:
ratings['user_id'].unique()

array([   1,    2,    3, ..., 6038, 6039, 6040], dtype=int64)

#### 선호하기 위한 영화를 추가하기 앞서서 내 가 좋아하는 영화의 movie_id를 확인한다. 
- str.contain() 메소드를 사용한다.

In [21]:
print(movies[movies['title'].str.contains('star wars')])

      movie_id                                              title  \
257        260          star wars: episode iv - a new hope (1977)
1178      1196  star wars: episode v - the empire strikes back...
1192      1210  star wars: episode vi - return of the jedi (1983)
2559      2628   star wars: episode i - the phantom menace (1999)

                                    genre
257       action|adventure|fantasy|sci-fi
1178    action|adventure|drama|sci-fi|war
1192  action|adventure|romance|sci-fi|war
2559      action|adventure|fantasy|sci-fi

- 아마 2000년도까지의 영화만 있는 듯 하다. 검색하기 쉽지 않다
- the rock 733
- star wars episode 1 2559
- star wars episode 6 1210
- peacemaker 1616

In [22]:
print(movies[movies['title'].str.contains('peacemaker')])

      movie_id                   title                genre
1574      1616  peacemaker, the (1997)  action|thriller|war

In [23]:
print(movies[movies['title'].str.contains('speed')])

      movie_id                           title                    genre
373        377                    speed (1994)  action|romance|thriller
1517      1556  speed 2: cruise control (1997)  action|romance|thriller
1675      1724               full speed (1996)                    drama

In [24]:
print(movies[movies['title'].str.contains('indiana')])

      movie_id                                        title             genre
1271      1291    indiana jones and the last crusade (1989)  action|adventure
2046      2115  indiana jones and the temple of doom (1984)  action|adventure

#### ratings dataframe에 6041이라는 id로 영화를 추가한다.

In [25]:
ratings.head()

   user_id  movie_id  counts
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5

In [26]:
my_movies = [755, 2559, 1210, 1616, 377, 1291, 2115]

len(my_movies)

7

In [27]:
my_favorite = pd.DataFrame({'user_id': [6041] * len(my_movies), 'movie_id': my_movies, 'counts': [5] * len(my_movies)})

my_favorite

   user_id  movie_id  counts
0     6041       755       5
1     6041      2559       5
2     6041      1210       5
3     6041      1616       5
4     6041       377       5
5     6041      1291       5
6     6041      2115       5

In [28]:
# if not ratings.isin({'user_id': [6041]})['user_id'].any():
#     ratings = ratings.append(my_favorite)
    
# ratings.tail(10)

### 4) CSR matrix를 직접 만들어 봅시다.
----

In [29]:
using_cols = ['user_id','movie_id','counts']
data = ratings[using_cols]

In [30]:
my_favorite = [2028,1196,2571,858,1,2273]
my_playlist = pd.DataFrame({'user_id': ['zimin']*6, 'movie_id': my_favorite, 'counts':[5]*6})
my_playlist

  user_id  movie_id  counts
0   zimin      2028       5
1   zimin      1196       5
2   zimin      2571       5
3   zimin       858       5
4   zimin         1       5
5   zimin      2273       5

In [31]:
if not data.isin({'user_id':['zimin']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    data = data.append(my_playlist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

data.tail(10)

        user_id  movie_id  counts
1000205    6040      1094       5
1000206    6040       562       5
1000207    6040      1096       4
1000208    6040      1097       4
0         zimin      2028       5
1         zimin      1196       5
2         zimin      2571       5
3         zimin       858       5
4         zimin         1       5
5         zimin      2273       5

In [37]:
data = pd.merge(data, movies, left_on = 'movie_id',right_on = 'movie_id', how='left')

In [38]:
data

,user_id,movie_id,counts,title,genre
0,1,1193,5,one flew over the cuckoo's nest (1975),drama
1,1,661,3,james and the giant peach (1996),animation|children's|musical
2,1,914,3,my fair lady (1964),musical|romance
3,1,3408,4,erin brockovich (2000),drama
4,1,2355,5,"bug's life, a (1998)",animation|children's|comedy
...,...,...,...,...,...
836479,zimin,1196,5,star wars: episode v - the empire strikes back...,action|adventure|drama|sci-fi|war
836480,zimin,2571,5,"matrix, the (1999)",action|sci-fi|thriller
836481,zimin,858,5,"godfather, the (1972)",action|crime|drama
836482,zimin,1,5,toy story (1995),animation|children's|comedy
836483,zimin,2273,5,rush hour (1998),action|thriller

In [39]:
len(data['movie_id'].unique())

3628

In [40]:
len(data['title'].unique()) # 중복된 타이틀이 있을 수 있어 위 unique 숫자와 일치

3628

In [41]:
my_movies = list(data.loc[data['movie_id'].isin(my_favorite)].title.unique())
my_movies

['toy story (1995)',
 'saving private ryan (1998)',
 'star wars: episode v - the empire strikes back (1980)',
 'matrix, the (1999)',
 'godfather, the (1972)',
 'rush hour (1998)']

In [42]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = data['user_id'].unique()
movie_unique = data['title'].unique()

# 유저, 아티스트 indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

In [47]:
user_to_idx

{1: 0,
 2: 1,
 3: 2,
 4: 3,
 5: 4,
 6: 5,
 7: 6,
 8: 7,
 9: 8,
 10: 9,
 11: 10,
 12: 11,
 13: 12,
 14: 13,
 15: 14,
 16: 15,
 17: 16,
 18: 17,
 19: 18,
 20: 19,
 21: 20,
 22: 21,
 23: 22,
 24: 23,
 25: 24,
 26: 25,
 27: 26,
 28: 27,
 29: 28,
 30: 29,
 31: 30,
 32: 31,
 33: 32,
 34: 33,
 35: 34,
 36: 35,
 37: 36,
 38: 37,
 39: 38,
 40: 39,
 41: 40,
 42: 41,
 43: 42,
 44: 43,
 45: 44,
 46: 45,
 47: 46,
 48: 47,
 49: 48,
 50: 49,
 51: 50,
 52: 51,
 53: 52,
 54: 53,
 55: 54,
 56: 55,
 57: 56,
 58: 57,
 59: 58,
 60: 59,
 61: 60,
 62: 61,
 63: 62,
 64: 63,
 65: 64,
 66: 65,
 67: 66,
 68: 67,
 69: 68,
 70: 69,
 71: 70,
 72: 71,
 73: 72,
 74: 73,
 75: 74,
 76: 75,
 77: 76,
 78: 77,
 79: 78,
 80: 79,
 81: 80,
 82: 81,
 83: 82,
 84: 83,
 85: 84,
 86: 85,
 87: 86,
 88: 87,
 89: 88,
 90: 89,
 91: 90,
 92: 91,
 93: 92,
 94: 93,
 95: 94,
 96: 95,
 97: 96,
 98: 97,
 99: 98,
 100: 99,
 101: 100,
 102: 101,
 103: 102,
 104: 103,
 105: 104,
 106: 105,
 107: 106,
 108: 107,
 109: 108,
 110: 109,
 111: 110,
 112: 111,
 113: 112,
 114: 113,
 115: 114,
 116: 115,
 117: 116,
 118: 117,
 119: 118,
 120: 119,
 121: 120,
 122: 121,
 123: 122,
 124: 123,
 125: 124,
 126: 125,
 127: 126,
 128: 127,
 129: 128,
 130: 129,
 131: 130,
 132: 131,
 133: 132,
 134: 133,
 135: 134,
 136: 135,
 137: 136,
 138: 137,
 139: 138,
 140: 139,
 141: 140,
 142: 141,
 143: 142,
 144: 143,
 145: 144,
 146: 145,
 147: 146,
 148: 147,
 149: 148,
 150: 149,
 151: 150,
 152: 151,
 153: 152,
 154: 153,
 155: 154,
 156: 155,
 157: 156,
 158: 157,
 159: 158,
 160: 159,
 161: 160,
 162: 161,
 163: 162,
 164: 163,
 165: 164,
 166: 165,
 167: 166,
 168: 167,
 169: 168,
 170: 169,
 171: 170,
 172: 171,
 173: 172,
 174: 173,
 175: 174,
 176: 175,
 177: 176,
 178: 177,
 179: 178,
 180: 179,
 181: 180,
 182: 181,
 183: 182,
 184: 183,
 185: 184,
 186: 185,
 187: 186,
 188: 187,
 189: 188,
 190: 189,
 191: 190,
 192: 191,
 193: 192,
 194: 193,
 195: 194,
 196: 195,
 197: 196,
 198: 197,
 199: 198,
 200: 199,
 201: 200,
 202: 201,
 203: 202,
 204: 203,
 205: 204,
 206: 205,
 207: 206,
 208: 207,
 209: 208,
 210: 209,
 211: 210,
 212: 211,
 213: 212,
 214: 213,
 215: 214,
 216: 215,
 217: 216,
 218: 217,
 219: 218,
 220: 219,
 221: 220,
 222: 221,
 223: 222,
 224: 223,
 225: 224,
 226: 225,
 227: 226,
 228: 227,
 229: 228,
 230: 229,
 231: 230,
 232: 231,
 233: 232,
 234: 233,
 235: 234,
 236: 235,
 237: 236,
 238: 237,
 239: 238,
 240: 239,
 241: 240,
 242: 241,
 243: 242,
 244: 243,
 245: 244,
 246: 245,
 247: 246,
 248: 247,
 249: 248,
 250: 249,
 251: 250,
 252: 251,
 253: 252,
 254: 253,
 255: 254,
 256: 255,
 257: 256,
 258: 257,
 259: 258,
 260: 259,
 261: 260,
 262: 261,
 263: 262,
 264: 263,
 265: 264,
 266: 265,
 267: 266,
 268: 267,
 269: 268,
 270: 269,
 271: 270,
 272: 271,
 273: 272,
 274: 273,
 275: 274,
 276: 275,
 277: 276,
 278: 277,
 279: 278,
 280: 279,
 281: 280,
 282: 281,
 283: 282,
 284: 283,
 285: 284,
 286: 285,
 287: 286,
 288: 287,
 289: 288,
 290: 289,
 291: 290,
 292: 291,
 293: 292,
 294: 293,
 295: 294,
 296: 295,
 297: 296,
 298: 297,
 299: 298,
 300: 299,
 301: 300,
 302: 301,
 303: 302,
 304: 303,
 305: 304,
 306: 305,
 307: 306,
 308: 307,
 309: 308,
 310: 309,
 311: 310,
 312: 311,
 313: 312,
 314: 313,
 315: 314,
 316: 315,
 317: 316,
 318: 317,
 319: 318,
 320: 319,
 321: 320,
 322: 321,
 323: 322,
 324: 323,
 325: 324,
 326: 325,
 327: 326,
 328: 327,
 329: 328,
 330: 329,
 331: 330,
 332: 331,
 333: 332,
 334: 333,
 335: 334,
 336: 335,
 337: 336,
 338: 337,
 339: 338,
 340: 339,
 341: 340,
 342: 341,
 343: 342,
 344: 343,
 345: 344,
 346: 345,
 347: 346,
 348: 347,
 349: 348,
 350: 349,
 351: 350,
 352: 351,
 353: 352,
 354: 353,
 355: 354,
 356: 355,
 357: 356,
 358: 357,
 359: 358,
 360: 359,
 361: 360,
 362: 361,
 363: 362,
 364: 363,
 365: 364,
 366: 365,
 367: 366,
 368: 367,
 369: 368,
 370: 369,
 371: 370,
 372: 371,
 373: 372,
 374: 373,
 375: 374,
 376: 375,
 377: 376,
 378: 377,
 379: 378,
 380: 379,
 381: 380,
 382: 381,
 383: 382,
 384: 383,
 385: 384,
 386: 385,
 387: 386,
 388: 387,
 389: 388,
 390: 389,
 391: 390,
 392: 391,
 393: 392,
 394: 393,
 395: 394,
 396: 395,
 397: 396,
 398: 397,
 399: 398,
 400: 399,
 401: 400,
 402: 401,
 403: 402,
 404: 403,
 405: 404,
 406: 405,
 407: 406,
 408: 407,
 409: 408,
 410: 409,
 411: 410,
 412: 411,
 413: 412,
 414: 413,
 415: 414,
 416: 415,
 417: 416,
 418: 417,
 419: 418,
 420: 419,
 421: 420,
 422: 421,
 423: 422,
 424: 423,
 425: 424,
 426: 425,
 427: 426,
 428: 427,
 429: 428,
 430: 429,
 431: 430,
 432: 431,
 433: 432,
 434: 433,
 435: 434,
 436: 435,
 437: 436,
 438: 437,
 439: 438,
 440: 439,
 441: 440,
 442: 441,
 443: 442,
 444: 443,
 445: 444,
 446: 445,
 447: 446,
 448: 447,
 449: 448,
 450: 449,
 451: 450,
 452: 451,
 453: 452,
 454: 453,
 455: 454,
 456: 455,
 457: 456,
 458: 457,
 459: 458,
 460: 459,
 461: 460,
 462: 461,
 463: 462,
 464: 463,
 465: 464,
 466: 465,
 467: 466,
 468: 467,
 469: 468,
 470: 469,
 471: 470,
 472: 471,
 473: 472,
 474: 473,
 475: 474,
 476: 475,
 477: 476,
 478: 477,
 479: 478,
 480: 479,
 481: 480,
 482: 481,
 483: 482,
 484: 483,
 485: 484,
 486: 485,
 487: 486,
 488: 487,
 489: 488,
 490: 489,
 491: 490,
 492: 491,
 493: 492,
 494: 493,
 495: 494,
 496: 495,
 497: 496,
 498: 497,
 499: 498,
 500: 499,
 501: 500,
 502: 501,
 503: 502,
 504: 503,
 505: 504,
 506: 505,
 507: 506,
 508: 507,
 509: 508,
 510: 509,
 511: 510,
 512: 511,
 513: 512,
 514: 513,
 515: 514,
 516: 515,
 517: 516,
 518: 517,
 519: 518,
 520: 519,
 521: 520,
 522: 521,
 523: 522,
 524: 523,
 525: 524,
 526: 525,
 527: 526,
 528: 527,
 529: 528,
 530: 529,
 531: 530,
 532: 531,
 533: 532,
 534: 533,
 535: 534,
 536: 535,
 537: 536,
 538: 537,
 539: 538,
 540: 539,
 541: 540,
 542: 541,
 543: 542,
 544: 543,
 545: 544,
 546: 545,
 547: 546,
 548: 547,
 549: 548,
 550: 549,
 551: 550,
 552: 551,
 553: 552,
 554: 553,
 555: 554,
 556: 555,
 557: 556,
 558: 557,
 559: 558,
 560: 559,
 561: 560,
 562: 561,
 563: 562,
 564: 563,
 565: 564,
 566: 565,
 567: 566,
 568: 567,
 569: 568,
 570: 569,
 571: 570,
 572: 571,
 573: 572,
 574: 573,
 575: 574,
 576: 575,
 577: 576,
 578: 577,
 579: 578,
 580: 579,
 581: 580,
 582: 581,
 583: 582,
 584: 583,
 585: 584,
 586: 585,
 587: 586,
 588: 587,
 589: 588,
 590: 589,
 591: 590,
 592: 591,
 593: 592,
 594: 593,
 595: 594,
 596: 595,
 597: 596,
 598: 597,
 599: 598,
 600: 599,
 601: 600,
 602: 601,
 603: 602,
 604: 603,
 605: 604,
 606: 605,
 607: 606,
 608: 607,
 609: 608,
 610: 609,
 611: 610,
 612: 611,
 613: 612,
 614: 613,
 615: 614,
 616: 615,
 617: 616,
 618: 617,
 619: 618,
 620: 619,
 621: 620,
 622: 621,
 623: 622,
 624: 623,
 625: 624,
 626: 625,
 627: 626,
 628: 627,
 629: 628,
 630: 629,
 631: 630,
 632: 631,
 633: 632,
 634: 633,
 635: 634,
 636: 635,
 637: 636,
 638: 637,
 639: 638,
 640: 639,
 641: 640,
 642: 641,
 643: 642,
 644: 643,
 645: 644,
 646: 645,
 647: 646,
 648: 647,
 649: 648,
 650: 649,
 651: 650,
 652: 651,
 653: 652,
 654: 653,
 655: 654,
 656: 655,
 657: 656,
 658: 657,
 659: 658,
 660: 659,
 661: 660,
 662: 661,
 663: 662,
 664: 663,
 665: 664,
 666: 665,
 667: 666,
 668: 667,
 669: 668,
 670: 669,
 671: 670,
 672: 671,
 673: 672,
 674: 673,
 675: 674,
 676: 675,
 677: 676,
 678: 677,
 679: 678,
 680: 679,
 681: 680,
 682: 681,
 683: 682,
 684: 683,
 685: 684,
 686: 685,
 687: 686,
 688: 687,
 689: 688,
 690: 689,
 691: 690,
 692: 691,
 693: 692,
 694: 693,
 695: 694,
 696: 695,
 697: 696,
 698: 697,
 699: 698,
 700: 699,
 701: 700,
 702: 701,
 703: 702,
 704: 703,
 705: 704,
 706: 705,
 707: 706,
 708: 707,
 709: 708,
 710: 709,
 711: 710,
 712: 711,
 713: 712,
 714: 713,
 715: 714,
 716: 715,
 717: 716,
 718: 717,
 719: 718,
 720: 719,
 721: 720,
 722: 721,
 723: 722,
 724: 723,
 725: 724,
 726: 725,
 727: 726,
 728: 727,
 729: 728,
 730: 729,
 731: 730,
 732: 731,
 733: 732,
 734: 733,
 735: 734,
 736: 735,
 737: 736,
 738: 737,
 739: 738,
 740: 739,
 741: 740,
 742: 741,
 743: 742,
 744: 743,
 745: 744,
 746: 745,
 747: 746,
 748: 747,
 749: 748,
 750: 749,
 751: 750,
 752: 751,
 753: 752,
 754: 753,
 755: 754,
 756: 755,
 757: 756,
 758: 757,
 759: 758,
 760: 759,
 761: 760,
 762: 761,
 763: 762,
 764: 763,
 765: 764,
 766: 765,
 767: 766,
 768: 767,
 769: 768,
 770: 769,
 771: 770,
 772: 771,
 773: 772,
 774: 773,
 775: 774,
 776: 775,
 777: 776,
 778: 777,
 779: 778,
 780: 779,
 781: 780,
 782: 781,
 783: 782,
 784: 783,
 785: 784,
 786: 785,
 787: 786,
 788: 787,
 789: 788,
 790: 789,
 791: 790,
 792: 791,
 793: 792,
 794: 793,
 795: 794,
 796: 795,
 797: 796,
 798: 797,
 799: 798,
 800: 799,
 801: 800,
 802: 801,
 803: 802,
 804: 803,
 805: 804,
 806: 805,
 807: 806,
 808: 807,
 809: 808,
 810: 809,
 811: 810,
 812: 811,
 813: 812,
 814: 813,
 815: 814,
 816: 815,
 817: 816,
 818: 817,
 819: 818,
 820: 819,
 821: 820,
 822: 821,
 823: 822,
 824: 823,
 825: 824,
 826: 825,
 827: 826,
 828: 827,
 829: 828,
 830: 829,
 831: 830,
 832: 831,
 833: 832,
 834: 833,
 835: 834,
 836: 835,
 837: 836,
 838: 837,
 839: 838,
 840: 839,
 841: 840,
 842: 841,
 843: 842,
 844: 843,
 845: 844,
 846: 845,
 847: 846,
 848: 847,
 849: 848,
 850: 849,
 851: 850,
 852: 851,
 853: 852,
 854: 853,
 855: 854,
 856: 855,
 857: 856,
 858: 857,
 859: 858,
 860: 859,
 861: 860,
 862: 861,
 863: 862,
 864: 863,
 865: 864,
 866: 865,
 867: 866,
 868: 867,
 869: 868,
 870: 869,
 871: 870,
 872: 871,
 873: 872,
 874: 873,
 875: 874,
 876: 875,
 877: 876,
 878: 877,
 879: 878,
 880: 879,
 881: 880,
 882: 881,
 883: 882,
 884: 883,
 885: 884,
 886: 885,
 887: 886,
 888: 887,
 889: 888,
 890: 889,
 891: 890,
 892: 891,
 893: 892,
 894: 893,
 895: 894,
 896: 895,
 897: 896,
 898: 897,
 899: 898,
 900: 899,
 901: 900,
 902: 901,
 903: 902,
 904: 903,
 905: 904,
 906: 905,
 907: 906,
 908: 907,
 909: 908,
 910: 909,
 911: 910,
 912: 911,
 913: 912,
 914: 913,
 915: 914,
 916: 915,
 917: 916,
 918: 917,
 919: 918,
 920: 919,
 921: 920,
 922: 921,
 923: 922,
 924: 923,
 925: 924,
 926: 925,
 927: 926,
 928: 927,
 929: 928,
 930: 929,
 931: 930,
 932: 931,
 933: 932,
 934: 933,
 935: 934,
 936: 935,
 937: 936,
 938: 937,
 939: 938,
 940: 939,
 941: 940,
 942: 941,
 943: 942,
 944: 943,
 945: 944,
 946: 945,
 947: 946,
 948: 947,
 949: 948,
 950: 949,
 951: 950,
 952: 951,
 953: 952,
 954: 953,
 955: 954,
 956: 955,
 957: 956,
 958: 957,
 959: 958,
 960: 959,
 961: 960,
 962: 961,
 963: 962,
 964: 963,
 965: 964,
 966: 965,
 967: 966,
 968: 967,
 969: 968,
 970: 969,
 971: 970,
 972: 971,
 973: 972,
 974: 973,
 975: 974,
 976: 975,
 977: 976,
 978: 977,
 979: 978,
 980: 979,
 981: 980,
 982: 981,
 983: 982,
 984: 983,
 985: 984,
 986: 985,
 987: 986,
 988: 987,
 989: 988,
 990: 989,
 991: 990,
 992: 991,
 993: 992,
 994: 993,
 995: 994,
 996: 995,
 997: 996,
 998: 997,
 999: 998,
 1000: 999,
 ...}

In [51]:
movie_to_idx

{"one flew over the cuckoo's nest (1975)": 0,
 'james and the giant peach (1996)': 1,
 'my fair lady (1964)': 2,
 'erin brockovich (2000)': 3,
 "bug's life, a (1998)": 4,
 'princess bride, the (1987)': 5,
 'ben-hur (1959)': 6,
 'christmas story, a (1983)': 7,
 'snow white and the seven dwarfs (1937)': 8,
 'wizard of oz, the (1939)': 9,
 'beauty and the beast (1991)': 10,
 'gigi (1958)': 11,
 'miracle on 34th street (1947)': 12,
 "ferris bueller's day off (1986)": 13,
 'sound of music, the (1965)': 14,
 'airplane! (1980)': 15,
 'tarzan (1999)': 16,
 'bambi (1942)': 17,
 'awakenings (1990)': 18,
 'big (1988)': 19,
 'pleasantville (1998)': 20,
 'wallace & gromit: the best of aardman animation (1996)': 21,
 'back to the future (1985)': 22,
 "schindler's list (1993)": 23,
 'meet joe black (1998)': 24,
 'pocahontas (1995)': 25,
 'e.t. the extra-terrestrial (1982)': 26,
 'titanic (1997)': 27,
 'ponette (1996)': 28,
 'close shave, a (1995)': 29,
 'antz (1998)': 30,
 'girl, interrupted (1999)': 31,
 'hercules (1997)': 32,
 'aladdin (1992)': 33,
 'mulan (1998)': 34,
 'hunchback of notre dame, the (1996)': 35,
 'last days of disco, the (1998)': 36,
 'cinderella (1950)': 37,
 'sixth sense, the (1999)': 38,
 'apollo 13 (1995)': 39,
 'toy story (1995)': 40,
 'rain man (1988)': 41,
 'driving miss daisy (1989)': 42,
 'run lola run (lola rennt) (1998)': 43,
 'star wars: episode iv - a new hope (1977)': 44,
 'mary poppins (1964)': 45,
 'dumbo (1941)': 46,
 'to kill a mockingbird (1962)': 47,
 'saving private ryan (1998)': 48,
 'secret garden, the (1993)': 49,
 'toy story 2 (1999)': 50,
 'fargo (1996)': 51,
 'dead poets society (1989)': 52,
 'shine (1996)': 53,
 'verdict, the (1982)': 54,
 'shall we dance? (shall we dansu?) (1996)': 55,
 'courage under fire (1996)': 56,
 'untouchables, the (1987)': 57,
 'mission: impossible (1996)': 58,
 'few good men, a (1992)': 59,
 'star wars: episode i - the phantom menace (1999)': 60,
 'rebel without a cause (1955)': 61,
 'total recall (1990)': 62,
 'hustler, the (1961)': 63,
 'star wars: episode vi - return of the jedi (1983)': 64,
 'u.s. marshalls (1998)': 65,
 'jackal, the (1997)': 66,
 'gladiator (2000)': 67,
 'double jeopardy (1999)': 68,
 'yojimbo (1961)': 69,
 'ran (1985)': 70,
 'snake eyes (1998)': 71,
 'fisher king, the (1991)': 72,
 'mister roberts (1955)': 73,
 'day the earth stood still, the (1951)': 74,
 'hunt for red october, the (1990)': 75,
 'outbreak (1995)': 76,
 'simon birch (1998)': 77,
 'stand and deliver (1987)': 78,
 'maverick (1994)': 79,
 'stand by me (1986)': 80,
 'green mile, the (1999)': 81,
 'lost world: jurassic park, the (1997)': 82,
 'gandhi (1982)': 83,
 'strictly ballroom (1992)': 84,
 'league of their own, a (1992)': 85,
 'bodyguard, the (1992)': 86,
 'braveheart (1995)': 87,
 'ronin (1998)': 88,
 'payback (1999)': 89,
 'spanish prisoner, the (1997)': 90,
 'close encounters of the third kind (1977)': 91,
 'terminator 2: judgment day (1991)': 92,
 'alien: resurrection (1997)': 93,
 'guns of navarone, the (1961)': 94,
 "soldier's story, a (1984)": 95,
 'on the waterfront (1954)': 96,
 'picnic (1955)': 97,
 'misérables, les (1998)': 98,
 'american beauty (1999)': 99,
 'amadeus (1984)': 100,
 'remains of the day, the (1993)': 101,
 'demolition man (1993)': 102,
 'children of a lesser god (1986)': 103,
 'like water for chocolate (como agua para chocolate) (1992)': 104,
 'last of the mohicans, the (1992)': 105,
 'bonnie and clyde (1967)': 106,
 'jurassic park (1993)': 107,
 'prefontaine (1997)': 108,
 'doctor zhivago (1965)': 109,
 'groundhog day (1993)': 110,
 'die hard 2 (1990)': 111,
 'man in the iron mask, the (1998)': 112,
 'star trek vi: the undiscovered country (1991)': 113,
 'enemy of the state (1998)': 114,
 'key largo (1948)': 115,
 'dances with wolves (1990)': 116,
 'star wars: episode v - the empire strikes back (1980)': 117,
 'con air (1997)': 118,
 'twister (1996)': 119,
 'raiders of the lost ark (1981)': 120,
 'silence of the lambs, the (1991)': 121,
 'waking ned devine (1998)': 122,
 'ghostbusters ii (1989)': 123,
 'matrix, the (1999)': 124,
 'armageddon (1998)': 125,
 'shakespeare in love (1998)': 126,
 'serpico (1973)': 127,
 'french connection, the (1971)': 128,
 'conspiracy theory (1997)': 129,
 'what about bob? (1991)': 130,
 'rocky (1976)': 131,
 'kramer vs. kramer (1979)': 132,
 'ed wood (1994)': 133,
 'on golden pond (1981)': 134,
 'chariots of fire (1981)': 135,
 'desperado (1995)': 136,
 'die hard: with a vengeance (1995)': 137,
 'true lies (1994)': 138,
 'october sky (1999)': 139,
 'clear and present danger (1994)': 140,
 'fugitive, the (1993)': 141,
 "sophie's choice (1982)": 142,
 'gone with the wind (1939)': 143,
 'getaway, the (1994)': 144,
 'fifth element, the (1997)': 145,
 'thelma & louise (1991)': 146,
 'under siege (1992)': 147,
 "guess who's coming to dinner (1967)": 148,
 'grapes of wrath, the (1940)': 149,
 'independence day (id4) (1996)': 150,
 'mr. jones (1993)': 151,
 'spartacus (1960)': 152,
 'lethal weapon 3 (1992)': 153,
 'as good as it gets (1997)': 154,
 'indochine (1992)': 155,
 'mask of zorro, the (1998)': 156,
 'shawshank redemption, the (1994)': 157,
 'man with the golden arm, the (1955)': 158,
 'manhattan (1979)': 159,
 'forrest gump (1994)': 160,
 'graduate, the (1967)': 161,
 'animal house (1978)': 162,
 'raising arizona (1987)': 163,
 '28 days (2000)': 164,
 'happy gilmore (1996)': 165,
 'golden child, the (1986)': 166,
 'beverly hills ninja (1997)': 167,
 'naked gun: from the files of police squad!, the (1988)': 168,
 'fish called wanda, a (1988)': 169,
 'being john malkovich (1999)': 170,
 'edge, the (1997)': 171,
 'indiana jones and the last crusade (1989)': 172,
 'dragonheart (1996)': 173,
 'blade (1998)': 174,
 'men in black (1997)': 175,
 'ghost and the darkness, the (1996)': 176,
 'three musketeers, the (1993)': 177,
 'unforgiven (1992)': 178,
 'rock, the (1996)': 179,
 'young guns (1988)': 180,
 'young guns ii (1990)': 181,
 'caddyshack (1980)': 182,
 'butch cassidy and the sundance kid (1969)': 183,
 'crocodile dundee (1986)': 184,
 'easy rider (1969)': 185,
 'blazing saddles (1974)': 186,
 'deliverance (1972)': 187,
 'indiana jones and the temple of doom (1984)': 188,
 'breakfast club, the (1985)': 189,
 'monty python and the holy grail (1974)': 190,
 'little mermaid, the (1989)': 191,
 'fistful of dollars, a (1964)': 192,
 'alien (1979)': 193,
 'die hard (1988)': 194,
 'mad max (1979)': 195,
 'king kong (1933)': 196,
 'jaws (1975)': 197,
 'good, the bad and the ugly, the (1966)': 198,
 'goldfinger (1964)': 199,
 'terminator, the (1984)': 200,
 'who framed roger rabbit? (1988)': 201,
 'gods and monsters (1998)': 202,
 'delicatessen (1991)': 203,
 'clueless (1995)': 204,
 'velvet goldmine (1998)': 205,
 'love! valour! compassion! (1997)': 206,
 'citizen ruth (1996)': 207,
 'donnie brasco (1997)': 208,
 'wings of the dove, the (1997)': 209,
 'bound (1996)': 210,
 'mrs. dalloway (1997)': 211,
 'bowfinger (1999)': 212,
 'before sunrise (1995)': 213,
 'four days in september (1997)': 214,
 'orlando (1993)': 215,
 'bridge on the river kwai, the (1957)': 216,
 'piano, the (1993)': 217,
 'richard iii (1995)': 218,
 'pokémon the movie 2000 (2000)': 219,
 'seven (se7en) (1995)': 220,
 'south park: bigger, longer and uncut (1999)': 221,
 'pulp fiction (1994)': 222,
 'celluloid closet, the (1995)': 223,
 'l.a. confidential (1997)': 224,
 'cold comfort farm (1995)': 225,
 'priest (1994)': 226,
 'ravenous (1999)': 227,
 'x-files: fight the future, the (1998)': 228,
 'don juan demarco (1995)': 229,
 'death and the maiden (1994)': 230,
 'insider, the (1999)': 231,
 'beautiful thing (1996)': 232,
 'usual suspects, the (1995)': 233,
 'paris is burning (1990)': 234,
 'sleepy hollow (1999)': 235,
 'speed (1994)': 236,
 'all about my mother (todo sobre mi madre) (1999)': 237,
 'thin red line, the (1998)': 238,
 'faculty, the (1998)': 239,
 'pecker (1998)': 240,
 'pillow book, the (1995)': 241,
 'out of sight (1998)': 242,
 'ghostbusters (1984)': 243,
 'liar liar (1997)': 244,
 'player, the (1992)': 245,
 'crumb (1994)': 246,
 'creepshow (1982)': 247,
 'good will hunting (1997)': 248,
 'topsy-turvy (1999)': 249,
 'edward scissorhands (1990)': 250,
 'ice storm, the (1997)': 251,
 'trick (1999)': 252,
 'mystery men (1999)': 253,
 'pi (1998)': 254,
 "there's something about mary (1998)": 255,
 'go (1999)': 256,
 'night of the living dead (1968)': 257,
 'wild reeds (1994)': 258,
 'men with guns (1997)': 259,
 'living in oblivion (1995)': 260,
 'go fish (1994)': 261,
 "jackie chan's first strike (1996)": 262,
 'office killer (1997)': 263,
 'mrs. brown (her majesty, mrs. brown) (1997)': 264,
 'sweet hereafter, the (1997)': 265,
 'fast, cheap & out of control (1997)': 266,
 'strawberry and chocolate (fresa y chocolate) (1993)': 267,
 'poseidon adventure, the (1972)': 268,
 'goodfellas (1990)': 269,
 'love and death on long island (1997)': 270,
 'election (1999)': 271,
 'grosse pointe blank (1997)': 272,
 'fight club (1999)': 273,
 'all over me (1997)': 274,
 'washington square (1997)': 275,
 'north by northwest (1959)': 276,
 'babe: pig in the city (1998)': 277,
 'jackie brown (1997)': 278,
 "jacob's ladder (1990)": 279,
 'three kings (1999)': 280,
 'casino (1995)': 281,
 "billy's hollywood screen kiss (1997)": 282,
 'smoke (1995)': 283,
 'nightmare before christmas, the (1993)': 284,
 "romy and michele's high school reunion (1997)": 285,
 'incredibly true adventure of two girls in love, the (1995)': 286,
 'happiness (1998)': 287,
 'austin powers: international man of mystery (1997)': 288,
 'reservoir dogs (1992)': 289,
 'howards end (1992)': 290,
 'maltese falcon, the (1941)': 291,
 'kundun (1997)': 292,
 'final destination (2000)': 293,
 'waiting for guffman (1996)': 294,
 'big lebowski, the (1998)': 295,
 'afterglow (1997)': 296,
 'little voice (1998)': 297,
 'my life in pink (ma vie en rose) (1997)': 298,
 'mariachi, el (1992)': 299,
 'shanghai noon (2000)': 300,
 'rushmore (1998)': 301,
 'austin powers: the spy who shagged me (1999)': 302,
 'dick (1999)': 303,
 'big night (1996)': 304,
 'fear and loathing in las vegas (1998)': 305,
 'opposite of sex, the (1998)': 306,
 'madness of king george, the (1994)': 307,
 'bullets over broadway (1994)': 308,
 'cruise, the (1998)': 309,
 'city of lost children, the (1995)': 310,
 'welcome to the dollhouse (1995)': 311,
 'glengarry glen ross (1992)': 312,
 'nowhere (1997)': 313,
 'much ado about nothing (1993)': 314,
 "boys don't cry (1999)": 315,
 'misery (1990)': 316,
 'twelve monkeys (1995)': 317,
 'rosencrantz and guildenstern are dead (1990)': 318,
 'high art (1998)': 319,
 'bob roberts (1992)': 320,
 "but i'm a cheerleader (1999)": 321,
 'babe (1995)': 322,
 'dead man walking (1995)': 323,
 'dead man (1995)': 324,
 'romancing the stone (1984)': 325,
 'top gun (1986)': 326,
 'gone in 60 seconds (2000)': 327,
 "pete's dragon (1977)": 328,
 'anastasia (1997)': 329,
 'lion king, the (1994)': 330,
 "murphy's romance (1985)": 331,
 'moonstruck (1987)': 332,
 'jeremiah johnson (1972)': 333,
 'outlaw josey wales, the (1976)': 334,
 'to gillian on her 37th birthday (1996)': 335,
 'pretty woman (1990)': 336,
 'wyatt earp (1994)': 337,
 'other sister, the (1999)': 338,
 'arthur (1981)': 339,
 "my best friend's wedding (1997)": 340,
 'mighty ducks, the (1992)': 341,
 'blue hawaii (1961)': 342,
 'gypsy (1962)': 343,
 'tequila sunrise (1988)': 344,
 'keeping the faith (2000)': 345,
 'patriot, the (2000)': 346,
 'magnum force (1973)': 347,
 'babes in toyland (1961)': 348,
 "prizzi's honor (1985)": 349,
 'roustabout (1964)': 350,
 'room with a view, a (1986)': 351,
 'emma (1996)': 352,
 'apple dumpling gang, the (1975)': 353,
 'west side story (1961)': 354,
 'straight story, the (1999)': 355,
 'legends of the fall (1994)': 356,
 'sense and sensibility (1995)': 357,
 'starman (1984)': 358,
 'benny & joon (1993)': 359,
 'dirty dancing (1987)': 360,
 'casablanca (1942)': 361,
 'umbrellas of cherbourg, the (parapluies de cherbourg, les) (1964)': 362,
 'paulie (1998)': 363,
 'peggy sue got married (1986)': 364,
 'splash (1984)': 365,
 'out of africa (1985)': 366,
 'grease (1978)': 367,
 'little big league (1994)': 368,
 'witness (1985)': 369,
 'where the heart is (2000)': 370,
 'supercop (1992)': 371,
 'x-men (2000)': 372,
 'heat (1995)': 373,
 'exorcist, the (1973)': 374,
 'face/off (1997)': 375,
 'backdraft (1991)': 376,
 'in the line of fire (1993)': 377,
 'tomorrow never dies (1997)': 378,
 'patriot games (1992)': 379,
 'godfather: part ii, the (1974)': 380,
 'elizabeth (1998)': 381,
 'natural born killers (1994)': 382,
 "mo' better blues (1990)": 383,
 'jerry maguire (1996)': 384,
 'truman show, the (1998)': 385,
 'philadelphia (1993)': 386,
 'batman: mask of the phantasm (1993)': 387,
 'dead presidents (1995)': 388,
 'moll flanders (1996)': 389,
 'mr. saturday night (1992)': 390,
 'cider house rules, the (1999)': 391,
 'summer of sam (1999)': 392,
 'private parts (1997)': 393,
 'amistad (1997)': 394,
 'rob roy (1995)': 395,
 'poetic justice (1993)': 396,
 'waiting to exhale (1995)': 397,
 'soul food (1997)': 398,
 'anna and the king (1999)': 399,
 'postino, il (the postman) (1994)': 400,
 'eyes wide shut (1999)': 401,
 'he got game (1998)': 402,
 'buffalo 66 (1998)': 403,
 "devil's own, the (1997)": 404,
 'dolores claiborne (1994)': 405,
 'people vs. larry flynt, the (1996)': 406,
 'crimson tide (1995)': 407,
 'hamlet (1996)': 408,
 'rudy (1993)': 409,
 "william shakespeare's romeo and juliet (1996)": 410,
 'firm, the (1993)': 411,
 'deconstructing harry (1997)': 412,
 'akira (1988)': 413,
 'ghost in the shell (kokaku kidotai) (1995)': 414,
 'cyrano de bergerac (1990)': 415,
 'chasing amy (1997)': 416,
 'prince of tides, the (1991)': 417,
 'what dreams may come (1998)': 418,
 'jfk (1991)': 419,
 'heaven & earth (1993)': 420,
 'midnight in the garden of good and evil (1997)': 421,
 'six degrees of separation (1993)': 422,
 'hilary and jackie (1998)': 423,
 'misérables, les (1995)': 424,
 'malcolm x (1992)': 425,
 'bridges of madison county, the (1995)': 426,
 'interview with the vampire (1994)': 427,
 'alive (1993)': 428,
 'scent of a woman (1992)': 429,
 'inkwell, the (1994)': 430,
 'gattaca (1997)': 431,
 'taxi driver (1976)': 432,
 'far and away (1992)': 433,
 'cop land (1997)': 434,
 'godfather: part iii, the (1990)': 435,
 'nixon (1995)': 436,
 "what's eating gilbert grape (1993)": 437,
 'beloved (1998)': 438,
 'my crazy life (mi vida loca) (1993)': 439,
 'true romance (1993)': 440,
 "eve's bayou (1997)": 441,
 'hard-boiled (lashou shentan) (1992)': 442,
 'great expectations (1998)': 443,
 'high fidelity (2000)': 444,
 'red violin, the (le violon rouge) (1998)': 445,
 "general's daughter, the (1999)": 446,
 'adventures of priscilla, queen of the desert, the (1994)': 447,
 'powder (1995)': 448,
 'leaving las vegas (1995)': 449,
 'life is beautiful (la vita è bella) (1997)': 450,
 'american history x (1998)': 451,
 'cruel intentions (1999)': 452,
 'boogie nights (1997)': 453,
 'joy luck club, the (1993)': 454,
 'robin hood: prince of thieves (1991)': 455,
 'arachnophobia (1990)': 456,
 'nell (1994)': 457,
 'mask, the (1994)': 458,
 'clerks (1994)': 459,
 'boiler room (2000)': 460,
 'meet the parents (2000)': 461,
 'time to kill, a (1996)': 462,
 'frequency (2000)': 463,
 'rules of engagement (2000)': 464,
 'quiz show (1994)': 465,
 'wedding singer, the (1998)': 466,
 'cape fear (1991)': 467,
 'magnolia (1999)': 468,
 'searching for bobby fischer (1993)': 469,
 'swingers (1996)': 470,
 'star trek: first contact (1996)': 471,
 'sling blade (1996)': 472,
 'hurricane, the (1999)': 473,
 'chicken run (2000)': 474,
 'my cousin vinny (1992)': 475,
 'wrong trousers, the (1993)': 476,
 'return to paradise (1998)': 477,
 "wayne's world (1992)": 478,
 'contact (1997)': 479,
 'grand day out, a (1992)': 480,
 'kolya (1996)': 481,
 'mission: impossible 2 (2000)': 482,
 'trainspotting (1996)': 483,
 'tango lesson, the (1997)': 484,
 'age of innocence, the (1993)': 485,
 'remember the titans (2000)': 486,
 'boat, the (das boot) (1981)': 487,
 'when harry met sally... (1989)': 488,
 'cutting edge, the (1992)': 489,
 'hype! (1996)': 490,
 'bronx tale, a (1993)': 491,
 "midsummer night's dream, a (1999)": 492,
 'defending your life (1991)': 493,
 'breaking away (1979)': 494,
 'prophecy ii, the (1998)': 495,
 'alien³ (1992)': 496,
 'addams family, the (1991)': 497,
 'ever after: a cinderella story (1998)': 498,
 'honey, i shrunk the kids (1989)': 499,
 'chinatown (1974)': 500,
 'treasure of the sierra madre, the (1948)': 501,
 'naked gun 2 1/2: the smell of fear, the (1991)': 502,
 'duck soup (1933)': 503,
 'better off dead... (1985)': 504,
 'lost in space (1998)': 505,
 'american graffiti (1973)': 506,
 'home alone (1990)': 507,
 'ghost (1990)': 508,
 'teenage mutant ninja turtles (1990)': 509,
 'to sir with love (1967)': 510,
 'blast from the past (1999)': 511,
 'message in a bottle (1999)': 512,
 'jumanji (1995)': 513,
 'my favorite martian (1999)': 514,
 'batman forever (1995)': 515,
 'sabrina (1995)': 516,
 'adventures in babysitting (1987)': 517,
 'doctor dolittle (1967)': 518,
 'nutty professor, the (1963)': 519,
 "charlotte's web (1973)": 520,
 'phenomenon (1996)': 521,
 'watership down (1978)': 522,
 'michael (1996)': 523,
 "bram stoker's dracula (1992)": 524,
 'arsenic and old lace (1944)': 525,
 'superman (1978)': 526,
 'batman (1989)': 527,
 'pinocchio (1940)': 528,
 'good earth, the (1937)': 529,
 'lethal weapon 4 (1998)': 530,
 'dark crystal, the (1982)': 531,
 "'burbs, the (1989)": 532,
 'fried green tomatoes (1991)': 533,
 'carrie (1976)': 534,
 'journey of natty gann, the (1985)': 535,
 'jungle book, the (1967)': 536,
 'cool hand luke (1967)': 537,
 'spy hard (1996)': 538,
 'mystery science theater 3000: the movie (1996)': 539,
 'young frankenstein (1974)': 540,
 'all quiet on the western front (1930)': 541,
 'rocky horror picture show, the (1975)': 542,
 'harry and the hendersons (1987)': 543,
 'stargate (1994)': 544,
 'santa clause, the (1994)': 545,
 'houseguest (1994)': 546,
 'lady and the tramp (1955)': 547,
 'fantasia (1940)': 548,
 'high noon (1952)': 549,
 'dr. strangelove or: how i learned to stop worrying and love the bomb (1963)': 550,
 'peter pan (1953)': 551,
 'somewhere in time (1980)': 552,
 "pee-wee's big adventure (1985)": 553,
 'war of the worlds, the (1953)': 554,
 'heart and souls (1993)': 555,
 'river runs through it, a (1992)': 556,
 'producers, the (1968)': 557,
 'star trek: generations (1994)': 558,
 'robin hood (1973)': 559,
 'nine months (1995)': 560,
 'neverending story, the (1984)': 561,
 'little big man (1970)': 562,
 'rescuers, the (1977)': 563,
 'trading places (1983)': 564,
 'return from witch mountain (1978)': 565,
 "breakfast at tiffany's (1961)": 566,
 'first wives club, the (1996)': 567,
 'return to oz (1985)': 568,
 'rear window (1954)': 569,
 'rocketeer, the (1991)': 570,
 'being there (1979)': 571,
 'sleeping beauty (1959)': 572,
 'm*a*s*h (1970)': 573,
 'jack (1996)': 574,
 'little shop of horrors (1986)': 575,
 'escape to witch mountain (1975)': 576,
 'tom jones (1963)': 577,
 'tommy boy (1995)': 578,
 'while you were sleeping (1995)': 579,
 'practical magic (1998)': 580,
 'star trek: the motion picture (1979)': 581,
 'beetlejuice (1988)': 582,
 'star trek: the wrath of khan (1982)': 583,
 'star trek iii: the search for spock (1984)': 584,
 'sabrina (1954)': 585,
 'star trek iv: the voyage home (1986)': 586,
 'batman returns (1992)': 587,
 'roman holiday (1953)': 588,
 'meet me in st. louis (1944)': 589,
 'old yeller (1957)': 590,
 '13th warrior, the (1999)': 591,
 'gold rush, the (1925)': 592,
 'homeward bound: the incredible journey (1993)': 593,
 'shaggy dog, the (1959)': 594,
 '20,000 leagues under the sea (1954)': 595,
 'hook (1991)': 596,
 'ace ventura: pet detective (1994)': 597,
 'mixed nuts (1994)': 598,
 'hero (1992)': 599,
 'miracle on 34th street (1994)': 600,
 'citizen kane (1941)': 601,
 '2001: a space odyssey (1968)': 602,

In [43]:
# 인덱싱이 잘 되었는지 확인해 봅니다. 
print(user_to_idx['zimin'])    # 6040명의 유저 중 마지막으로 추가된 유저이니 6039이 나와야 합니다. 
print(movie_to_idx['toy story (1995)'])

6039
40

In [45]:

# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
temp_user_data

0            0
1            0
2            0
3            0
4            0
          ...
836479    6039
836480    6039
836481    6039
836482    6039
836483    6039
Name: user_id, Length: 836484, dtype: int64

In [46]:
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

user_id column indexing OK!!

In [48]:
# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_movie_data = data['title'].map(movie_to_idx.get).dropna()

In [49]:
if len(temp_movie_data) == len(data):
    print('movie column indexing OK!!')
    data['movie_id'] = temp_movie_data
else:
    print('movie column indexing Fail!!')

movie column indexing OK!!

In [50]:
data

,user_id,movie_id,counts,title,genre
0,0,0,5,one flew over the cuckoo's nest (1975),drama
1,0,1,3,james and the giant peach (1996),animation|children's|musical
2,0,2,3,my fair lady (1964),musical|romance
3,0,3,4,erin brockovich (2000),drama
4,0,4,5,"bug's life, a (1998)",animation|children's|comedy
...,...,...,...,...,...
836479,6039,117,5,star wars: episode v - the empire strikes back...,action|adventure|drama|sci-fi|war
836480,6039,124,5,"matrix, the (1999)",action|sci-fi|thriller
836481,6039,607,5,"godfather, the (1972)",action|crime|drama
836482,6039,40,5,toy story (1995),animation|children's|comedy
836483,6039,824,5,rush hour (1998),action|thriller

In [53]:
# 실습 위에 설명보고 이해해서 만들어보기
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_movie = data['title'].nunique()

csr_data = csr_matrix((data.counts, (data.user_id, data.movie_id)), shape= (num_user, num_movie))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836484 stored elements in Compressed Sparse Row format>

In [32]:
#[[ your code ]]

### 5) als_model = AlternatingLeastSquares 모델을 직접 구성하여 훈련시켜 봅시다.
-----

In [33]:
#[[ your code ]]

### 6) 내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악해 보세요.

In [34]:
#[[ your code ]]

7) 내가 좋아하는 영화와 비슷한 영화를 추천받아 봅시다.

In [35]:
#[[ your code ]]

8) 내가 가장 좋아할 만한 영화들을 추천받아 봅시다.

In [36]:
#[[ your code ]]